#graph {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  width: 800px;
  height: 800px;
  animation: show .5s ease;
  -webkit-animation: show .5s ease;
  /*border: 1px solid;*/
}

#graph .info {
  position: absolute;
  right: 0;
  top:100px;
  width: 200px;
  height: 50px;
  margin: 2px;
  border: 1px solid;
}

#graph .flip {
  position: absolute;
  right: 0;
  top:150px;
  width: 200px;
  height: 200px;
  margin: 2px;
  border: 1px solid;
  display: none
}


#graph .graphView {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes show {
  0% {opacity: 0; transform: translateX(25px)}
  100% {opacity: 1;}
}
@-webkit-keyframes show{
  0% {opacity: 0; transform: translateX(25px)}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0; transform: translateX(25px)}
}
@-webkit-keyframes hide{
  0% {opacity: 1; }
  100% {opacity: 0; transform: translateX(25px)}
}