body {
  background: #666699;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow:hidden;
}
.square {
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  width: 39px;
  height: 39px;
  float: left;
}
.clearFloat {
  clear: both
}
#background {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  width: 800px;
  height: 800px;
  animation: show .5s ease;
  -webkit-animation: show .5s ease;
}
#environment {
  position: fixed;
  /*border: 1px solid #0099CC;
  margin: -1px 0 0 -1px;*/
}
/*#environment.animate{
  position: fixed;
  animation: show .5s ease;
  -webkit-animation: show .5s ease .2s;
}*/

.inner-square {
  width: 39px;
  height: 39px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  float: left;
}
.top{
  border-top: 0;
  height: 40px;
}
.left{
  border-left: 0;
  width: 40px;
}
.obstacle {
  background: #6A9AD0;
}
.open{
  background: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.leftBar {
  position: fixed;
  left: 50%;
  transform: translatex(calc(-420px - 100%));
  padding-top: 30px;
  height: 600px;
  overflow: auto;
  overflow-x: hidden;
}
.sketchBlock {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.deleter{
  width: 50px;
  height: 50px;
  transform: scale(.3);
  margin-left: 5px;
  cursor: pointer;
}
.sketch {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 15px;
  margin-right: -15px;
  float: left;
  cursor: pointer;
}
.sketchSquare {
  width: 9px;
  height: 9px;
  float: left;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  background: lightgrey
}
.sketchSquare-obstacle {
  background: white;
}
.agent { 
  width: 12px;
  height: 12px;
  background: #FF9966;
  margin: 2px;
}
.agentMore {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  color: black;
}

.agentBlock {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.agentBlock > p {
  margin: 10px;
}
.light {
  color: #8585ad;
}

.hidden {
  display: none;
}
.hidden2 {
  visibility: hidden;
}

.show_regionBar {
  display: inline-block;
  animation: show .5s ease;
  -webkit-animation: show .5s ease;
}

.show_agentBar {
  display: inline-block;
  animation: show .5s ease;
  -webkit-animation: show .5s ease;
}

/* delete btn */
.close {
  /*position: absolute;*/
  width: 50px;
  height: 50px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%) scale(.3);
  z-index: 10;
}
.close:hover::before, .close:hover::after {
  background: #1ebcc5;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.black::before, .close.black::after {
  height: 8px;
  margin-top: -4px;
}
.close.warp::before, .close.warp::after {
  border-radius: 120% 0;
}
/* delete btn */



.tip{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: .8em;
  color: white;
  /*background: white;*/
  user-select: none;
}

#rightBar {
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translatex(450px);
  width: 180px;
}
#rightBar > .hidden {
  display: none;
}

#rightBar input {
  width: 20px;
  margin: 0 5px;
}
/*#btn-runOne {
  width: 100px;
}*/
.btn {
  height: 30px;
  margin: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: .8em;
  display: inline-block;
}

#moreBar {
  height: 400px;
  width: 200px;
  position: fixed;
  top: 30px;
  left: 0;
  color:white;
  display: none;
}
#moreBar > div {
  margin: 10px;
}
#moreBar input {
  width: 40px;
  float: right;
  margin-right: 80px;
}
#moreBar .btn {
  position: relative;
  left: -10px;
}

#traces {
  position: absolute;
  top: 0;
  left: 0;
}

#rightBar > .show {
  /*display: inline-block;*/
  animation: show .5s ease;
  -webkit-animation: show .5s ease;
}
#rightBar > .hide {
  /*display: inline-block;*/
  animation: hide .5s ease;
  -webkit-animation: hide .5s ease;
}

@keyframes show {
  0% {opacity: 0; transform: translateX(25px)}
  100% {opacity: 1;}
}
@-webkit-keyframes show{
  0% {opacity: 0; transform: translateX(25px)}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0; transform: translateX(25px)}
}
@-webkit-keyframes hide{
  0% {opacity: 1; }
  100% {opacity: 0; transform: translateX(25px)}
}

.moveUp {
  animation: moveUp .4s ease;
  -webkit-animation: moveUp .4s ease;
}
@keyframes moveUp {
  100% {transform: translateY(-40px)}
}
@-webkit-keyframes moveUp{
  100% {transform: translateY(-40px)}
}
.moveDown {
  animation: moveDown .4s ease;
  -webkit-animation: moveDown .4s ease;
}
@keyframes moveDown {
  100% {transform: translateY(40px)}
}
@-webkit-keyframes moveDown{
  100% {transform: translateY(40px)}
}
.moveLeft {
  animation: moveLeft .4s ease;
  -webkit-animation: moveLeft .4s ease;
}
@keyframes moveLeft {
  100% {transform: translateX(-40px)}
}
@-webkit-keyframes moveLeft{
  100% {transform: translateX(-40px)}
}
.moveRight {
  animation: moveRight .4s ease;
  -webkit-animation: moveRight .4s ease;
}
@keyframes moveRight {
  100% {transform: translateX(40px)}
}
@-webkit-keyframes moveRight{
  100% {transform: translateX(40px)}
}


.movePath {
  stroke-dasharray: 40;
  stroke-dashoffset: 0;
  animation: dash .3s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 40;
  }
  to {
    stroke-dashoffset: 0;
  }
}