body{
  background: #666699;
}
.square {
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  width: 39px;
  height: 39px;
  float: left;
}
.clearFloat {
  clear: both
}
#background {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  width: 800px;
  height: 800px;
}
#environment {
  position: fixed;
  border: 1px solid #0099CC;
}
.inner-square {
  width: 39px;
  height: 39px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  float: left;
}
.top{
  border-top: 0;
  height: 40px;
}
.left{
  border-left: 0;
  width: 40px;
}
.obstacle {
  background: #6A9AD0;
}
.open{
  background: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#leftBar {
  margin-left: 50%;
  transform: translatex(-500px);
}
.sketchBlock {
  position: relative; 
  width: 10px;
}
.sketch {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 10px;
  margin-right: -10px;
  float: left;
}
.sketchSquare {
  width: 9px;
  height: 9px;
  float: left;
  border-top: 0.1px solid lightgrey;
  border-left: 1px solid lightgrey;
  background: lightgrey
}
.sketchSquare-obstacle {
  background: white;
}
.agent {
  width: 12px;
  height: 12px;
  background: #FF9966;
  margin: 2px;
}
.agentMore {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
}



/* delete btn */
.close {
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%) scale(.3);
  z-index: 10;
}
.close:hover::before, .close:hover::after {
  background: #1ebcc5;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.black::before, .close.black::after {
  height: 8px;
  margin-top: -4px;
}
.close.warp::before, .close.warp::after {
  border-radius: 120% 0;
}
/* delete btn */



.tip{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: .8em;
  color: white;
  /*background: white;*/
  user-select: none;
}